.labelAvatar {
  display: block;
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

.editIcon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.labelAvatar:hover .editIcon {
  opacity: 1;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: contain;
}

.inputFile {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}

.errorInput {
  opacity: 0;
  pointer-events: none;
}

.errorInput_active {
  opacity: 1;
}
